@import url('../fonts/iconfont.css');
/*融资数据*/
.my-col .el-row{margin: 0!important;padding: 20px 30px;background: #fcfcfc;}
.my-col .el-col-4{padding: 0;height: 94px;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);box-shadow:0 0 8px rgba(0,0,0,0.1);padding: 0!important;
margin: 10px 1.8% 10px 0;width:18.5%;background: white;min-width: 220px;}
.my-col .el-row .el-col-4:first-child{margin-left: 0;}
.my-col .el-row .el-col-4:last-child{margin-right: 0;}
.my-col .grid-content .pic{float: left;}
.grid-content{
    display: flex;
    flex-flow: row nowrap;
    
}
.num-box{margin: 25px auto auto 15px; display: flex;flex-flow:column nowrap;}
.num-box p{font-size: 24px;font-weight: bold;position: relative;
}
.num-box p sup{font-size: 14px;}
.color-blue{color: #00cbf6;}
.color-yellow{color: #fbc937;}
.color-green{color: #aec785;}
.color-deepgreen{color: #06ccb6;}
.color-orange{color: #ff8761;}
/*bootstrap修复样式*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
[role=button] {
    cursor: pointer
}
p {
    margin: 0 0 10px
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

dl {
    margin-top: 0;
    margin-bottom: 20px
}

dd, dt {
    line-height: 1.42857143
}

dt {
    font-weight: 700
}

dd {
    margin-left: 0
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}
table {
    background-color: transparent
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left
}

th {
    text-align: left
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}
/*normalize.css*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

mark {
    color: #000;
    background: #ff0
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

legend {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td, th {
    padding: 0
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}
select[multiple], select[size] {
    height: auto
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

/*弹出模态框*/
.p-form .el-form-item__label{ 
      width:90px !important;
      text-align:right;
      font-weight: normal;
  }

.p-form .el-form-item__content{
  margin-left:90px !important;
}
.p-form .el-dialog--small {
    width: 35%;
    box-shadow:0 0 5px #eee;
}
.p-form .el-dialog__body{
    padding:25px 20px 10px;
    margin-top:15px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
.p-form .el-dialog__footer{
  padding:15px 20px;
}

.p-form .el-textarea__inner{
  width:93% !important;
}
.p-form .el-textarea__inner{
  resize: none;
}

.p-form .el-input{width:93% !important;}


/*表格和按钮*/
.my-table .el-table .cell{
    padding-left: 10px;
    padding-right: 10px;
}
.my-table .el-table__body .cell{
    color: #535455;font-size: 12px;}
.my-table .el-table th > div{
    padding-left: 0;padding-right: 0;
}
.btn-style{font-size: 12px;padding: 6px 15px;border-color: #06ccb6;color: #06ccb6;}
.btn-style:hover{background: #06ccb6;color: white;}
/*小按钮*/
.btn-margin{ margin:0;}
.btn-small{
    padding:2px;
    margin-left:3px !important;
    margin-right:5px;
    border-radius: 4px;
    border:1px solid #999;
    font-size:10px;
}
.border-orange{
    color: orange;
    border: 1px solid orange;
}


/*搜索下拉*/
.search-box{overflow: hidden;margin: 30px;}
.search-box .output{width: 260px;float: left;}
.search-box .date-box{float: right;}
.search-box .date-box .el-select{margin-left: 10px;width: 150px;}
.my-calender{display: inline-block;}
.search-box .date-box .el-date-editor.el-input{width: 345px;}

/*激活编辑封禁*/
.normalize,.edits,.closure{margin: 0 8px;cursor: pointer;}
.normalize,.edits{width: 20px;height: 20px;background: url(../images/ico1.png);display: inline-block;}
.closure{width: 17px;height: 21px;background: url(../images/ico4.png);display: inline-block;}
.edits{background: url(../images/ico3.png);}
.normalize.active{background: url(../images/ico2.png);}
.closure.active{background: url(../images/ico5.png);}

/*分页导航*/
.page-box{margin: 30px;}
.page-wrap{float: left;}
.page-wrap .el-pagination__total{margin-left: 0;}

/*有下角创建按钮*/
.btn-box{float: right;}
/*内容区域css*/
.content{
  position: absolute;
  left:230px;
  top:64px;
  right:0;
  bottom:0;
  min-width: 1020px;
  padding-bottom:10px;
  overflow: auto;
}
/*返回按钮*/
.back-button{
    width: 100%;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    background: #f6f9f8;
}
.back-button button{
    margin-left:20px;
}
/*dailog中的select组件模糊*/
.el-dialog{
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
    }
.customer-head-image{
    border: 1px solid gray;
    width: 150px;
    height:150px;
}
.enterpriseMember-head-image{
    border: 1px solid gray;
    width: 140px;
    height: 180px;
}
.loading-window{
    opacity: 0.5;
    color:#06ccb7;
    background-color: #fff;
}
.echart-dot{
    width:8px;
    height:8px;
    border-radius:8px;
    display: inline-block;
    margin:auto 5px;
}