/**
 * 样式重置
 * **/
*{
	margin:0;
	padding: 0;
}
html{
	width:100%;
	height:100%;
	font-size: 62.5%;
}
body{
	font-family: "微软雅黑";
	font-size: 1.4rem;
	line-height: 1.428571429;
	color: #666;
}
ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
	display: inline-block;
	color: #999;
}

/*容器宽度*/
.width96{ width: 96%;}
.width98{ width: 98%;}
.width99{ width: 99%;}

/*字体大小*/
.font18{ font-size: 1.8rem !important;}
.font22{ font-size: 2.2rem !important;}
.font26{ font-size: 2.6rem !important;}  /*h1 h2*/
.font30{ font-size: 3.0rem !important;}  /*h1*/

/*颜色*/
.black { color: #000000 !important;}
.red{ color:#f4645f !important;}
.green{ color: #00B150 !important;}
.blue{ color: #007BD6 !important;}

/*背景颜色*/
.bg-red{background-color: #f4645f !important;}
.bg-green{background-color: #00B150 !important;}
.bg-blue{background-color: #007BD6 !important;}

/*透明度*/
.opacity5 {  
     filter:alpha(opacity=50);  
     -moz-opacity:0.5;  
     -khtml-opacity: 0.5;  
     opacity: 0.5;  
} 

/*颜色*/
.color-1{ color:#fbc937}
.color-2{ color:#00cbf6}
.color-3{ color:#aec785}
.color-4{ color:#06ccb6}
.color-5{ color:#ff8761}

/*浮动*/
.fl{float:left;}
.fr{float:right}
.Clear::after {clear: both; content:"."; display:block; font-size:0; height:0; visibility: hidden;}

/*禁止拉伸*/
.no-resize{ resize: none;}

/*外边距*/
.mt10{ margin-top:10px}
.mt15{ margin-top:15px}

/*圆角*/
.br3{border-radius:3px};
.br6{border-radius:6px};
